body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#popup{
	position: fixed;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    font-family: 'Raleway',sans-serif;
}
#editNote {
	max-width: 500px;
    min-width: 250px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: raleway;
    background-color: #fff;
}

img{
    width: 433px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 20px;
}

.id{
    display: none;
}
